@{
    ViewBag.Title = "My life for your understanding";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    I’m Preston Adkins, a freelance Product / UI - UX Designer currently living in Lille, France.

    My experience comes from working with companies to solve problems on their product and help them ship redesign, alpha products or new features. One of my goals during a project is to make sure we are always on the same page by documenting and communicating about the journey.
</p>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRi62TXoZ4pxRpolKgxiPEYshtybN-kIYuFvQ&usqp=CAU" alt="photo" loading="lazy" style="height: 200px" />
