@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ohman Blvd<br />
    Taylor, TX 77033<br />
    <abbr title="Phone">P:</abbr>
    617.900.4589
</address>

<address>
    <strong>LinkedIn:</strong> <a href="www.linkedin.com/in/preston-adkins-656233197">www.linkedin.com/in/preston-adkins-656233197</a></br />
    <strong>Twitter:</strong> <a href="https://twitter.com/PrestonAdkins38">www.twitter.com/PrestonAdkins38</a></br />
    <strong>Personal Email:</strong> <a href="padkins38@gmail.com">padkins38@gmail.com</a><br />
    <strong>School Email:</strong> <a href="Preston.W.Adkins-1@ou.edu">Preston.W.Adkins-1@ou.edu</a>
</address>




