@{
    ViewBag.Title = "Employment_History";
}

<section id="Employment_History" class="Employment_History">
    <div class="container">
        <h2 <span>Employment History</span></h2>
        <h2 <span>I have vast experience in entrepreneurship as well a deep understanding of the blockchain industry</span></h2>
            <div class="projects__row" style="padding: 3%">
                <h2>Sunnyrise Coffee, LLC</h2>
                <div class="projects_Info">
                    <h3>Co-Founder</h3>
                    <p>
                        <ul>A “SAAS” company purposed to teach financial literacy and promote entrepreneurship</ul>
                        <ul>Implementing a digital sales funnel by utilizing omnichannel connection points</ul>
                        <ul>Collaborating with a coffee distributor to receive, brand, and ship products</ul>
                        <ul>Learning more on topics of cash-flow, business models, marketing tactics, and ecommerce</ul>
                    </p>
                    <a href="sunnyrisecoffee.com" target="_blank">Sunnyrisecoffee.com</a>
                </div>
            </div>
    </div>
</section>


@*Sunnyrise Coffee, Grapevine, TX		          July 2021 - Present
    Co-Founder
    •	A “SAAS” company purposed to teach financial literacy and promote entrepreneurship
    •	Implementing a digital sales funnel by utilizing omnichannel connection points
    •	Collaborating with a coffee distributor to receive, brand, and ship products
    •	Learning more on topics of cash-flow, business models, marketing tactics, and ecommerce
    Teton Investment Capital, LLC, Arlington, TX                    June 2019 – August 2019, July 2021 – August 2021
    Summer Internship
    •	Applied my knowledge of financial statements to predict future operations
    •	Observed along sales calls with new customers
    •	Tagged on call with a NASA robotics engineer, Gregg Scott, about software development
    •	Obtained general knowledge of the oil business, vertical integration, and digital roll out of iTankData.com
    •	Experienced the complete process of purchasing mineral and royalties
    Liberty City Ventures, New York, New York	                                                                                     June 2021
    Blockchain Investments & Research Intern (Remote)
    •	Created a database on Excel of blockchain industry influencers with 9 sub-categories
    •	Worked with a team to create and deliver a pitch-deck presenting growing blockchain businesses
    •	Researched the metaverse, NFT’s, collectables, blockchain games, blockchain art, social tokens, and more
    ScreenQuik, Colleyville, TX	                                                        May 2017 – August 2020
    Owner
    •	Created an “on the go” phone repair business
    •	Learned soft skills from working with the customer
    •	Actively dealt with a wholesaler to establish a sound inventory
    •	Technological Experience with broken phones
*@