@{
    ViewBag.Title = "Projects";
}

<section id="projects" class="projects">
    <div class="container">
        <h2 <span>Projects</span></h2>
        <h2 <span>Below are some of my major accomplishments from previous projects I have collaborated on.</span></h2>
            <div class="projects__row" style="padding: 3%">
                <img src="https://i.imgur.com/hH3TLr5.png" alt="MVC - Beginner Project" loading="eager" style="height: 300px" />
                <div class="projects_Info">
                    <h3>MVC - Beginner Project</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic facilis tempora, explicabo quae quod deserunt eius sapiente praesentium.</p>
                    <a href="https://github.com/padkins38/Preston-Adkins/tree/main/MVC_Participation" target="_blank">Github Link</a>
                </div>
            </div>
            <div class="projects__row" style="padding: 3%">
                <img src="https://i.imgur.com/hH3TLr5.png" alt="MVC - Beginner Project" loading="eager" style="height: 300px" />
                <div class="projects_Info">
                    <h3>MVC - Beginner Project</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic facilis tempora, explicabo quae quod deserunt eius sapiente praesentium.</p>
                    <a href="https://github.com/padkins38/Preston-Adkins/tree/main/MVC_Participation" target="_blank">Github Link</a>
                </div>
            </div>
            <div class="projects__row" style="padding: 3%">
                <img src="https://i.imgur.com/hH3TLr5.png" alt="MVC - Beginner Project" loading="eager" style="height: 300px"/>
                <div class="projects_Info">
                    <h3>MVC - Beginner Project</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic facilis tempora, explicabo quae quod deserunt eius sapiente praesentium.</p>
                    <a href="https://github.com/padkins38/Preston-Adkins/tree/main/MVC_Participation" target="_blank">Github Link</a>
                </div>
            </div>    
    </div>
</section>
